body {
  font-family: Arial, sans-serif;
  background: #0b0775;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 350px;
  text-align: center;
}

.input-group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input-group input {
  flex: 1;
  padding: 10px;
  border: 1px solid #040951;
  border-radius: 10px 0 0 10px;
}

.input-group button {
  padding: 10px 15px;
  border: none;
  background: #ff3700;
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.input-group button:hover {
  background: #218838;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  margin: 8px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  flex: 1;
  text-align: left;
}

button.edit, button.delete {
  margin-left: 10px;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}

button.edit {
  background: #ffc107;
  color: white;
}

button.delete {
  background: #dc3545;
  color: white;
}
